html {
    font-family: sans-serif;
}

body {
    user-select: none;
}

button {
    cursor: pointer;
}

.header {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 1rem;
}

.container {
    text-align: center;
}

.boxes {
    font-weight: bold;
    font-size: 2rem;
    width: 50px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 2px solid #d3d6da;
    margin: 2px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.words-container {
    margin-bottom: 1rem;
}

.key {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0.15rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: #d3d6da;
    border: none;
    width: 3rem;
}

.long-key {
    width: 5rem;
}

.prompt-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 25rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b9d1ff;
    border: 2px solid #000000;
    border-radius: 20px;
}

.prompt-content {
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}

.popup-container {
    position: absolute;
    left: 37.5%;
    bottom: 10%;
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* border: 2px solid #000000; */
}

.popup-title {
    font-size: 1rem;
}

.close-button {
    color: #000000;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.popup-content {
    font-size: 15px;
    font-family: sans-serif;
}

.boxed-text {
    border: 1px solid #000000;
}

.continue-button {
    font-size: 30px;
    padding: 10px;
    /* border: 2px solid #000000; */
    border-radius: 10px;
    color: #ffffff;
    background-color: #009000;
}