/* html body {
    font-family: sans-serif;
} */

button {
    cursor: pointer;
}

.header {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

.container {
    text-align: center;
}

.boxes {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    width: 50px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border: 2px solid #d3d6da;
    margin: 2px;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-container {
    margin-top: 1%;
}

.keys {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    margin: 2px;
    height: 60px;
    border-radius: 5px;
    background-color: #d3d6da;
    border: none
}

.keys::after {
    background-color: #000000;
}

.letters {
    width: 50px;
}

.long-keys {
    width: 75px;
}

.prompt-container {
    position: absolute;
    left: 42.5%;
    bottom: 25%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #b9d1ff;
    border: 2px solid #000000;
    border-radius: 20px;
}

.prompt-content {
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}

.popup-container {
    position: absolute;
    left: 37.5%;
    bottom: 10%;
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* border: 2px solid #000000; */
}

.popup-title {
    font-size: 20px;
    font-family: sans-serif;
}

.close {
    /* margin-right: -50px; */
    color: #000000;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.popup-content {
    font-size: 15px;
    font-family: sans-serif;
}

.boxed-text {
    border: 1px solid #000000;
}

.continue {
    font-size: 30px;
    padding: 10px;
    /* border: 2px solid #000000; */
    border-radius: 10px;
    font-family: sans-serif;
    color: #ffffff;
    background-color: #009000;
}